<!DOCTYPE html>
<html>
<head>
    <title>AI Cloud Security</title>
    <link rel="stylesheet" href="style/index.css">
</head>

<body>
    <h1>
        AI Cloud Security
    </h1>

    <script src = "scripts/changeImage.js"></script>

    <div>
        <img id = "img" src="volume/<%=fileNames[0]%>" alt = "wario 0" style = "height: 20vw;" class = "center"/>
        <ul style="list-style-type:none;" class = "description">
            <% if (typeof fileData !== 'undefined'){ %>
            <li id = "fileNameText">Image: <%=fileData[0].fileName%> </li>
            <li id = "dogsText">Dogs detected: <%=fileData[0].dogs%> </li>
            <li id = "catsText">Cats detected: <%=fileData[0].cats%> </li>
            <li id = "personsText">Persons detected: <%=fileData[0].persons%> </li>
            <% } %>
          </ul>  
    </div>

    <div> 
        <% if(fileNames.length == 0) { %>
                No images found.
        <% } else if(typeof fileData !== 'undefined'){ %>
            <% for(let i = 0; i < fileNames.length; i++){ %>
                <img src = "volume/<%=fileNames[i]%>" alt="dog 1" style = "height: 20vw;" onclick = 'changeImage("volume/<%=fileNames[i]%>", "<%=fileData[i].fileName%>", <%=fileData[i].dogs%>, <%=fileData[i].cats%>, <%=fileData[i].persons%>);'>
            <% } %>
        <% } %>
    </div>
    
    <div>
        <h2>Page <%=thispage%> of <%=numberofpages%></h2>
        <nav> 
            <a href="http://localhost:3000/<%=prevpage%>">
                Prev
            </a>
            <% if(thispage != numberofpages){%>
            |
            <a href="http://localhost:3000/<%=nextpage%>">
                Next
            </a>
            <% } %>
        </nav>
    
    </div>
    </body>
    
        
</body>

</html>